<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fred.authshiro.mapper.TbResourceMapper">
    <resultMap id="BaseResultMap" type="com.fred.authshiro.model.TbResource">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, `path`, `name`
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_resource
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultType="com.fred.authshiro.model.TbResource">
        select
        <include refid="Base_Column_List"/>
        from tb_resource
        <where>
            <if test="name != null and name != ''">
                name like concat(#{name},'%')
            </if>
            <if test="path != null and path != ''">
                and path like concat(#{path},'%')
            </if>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_resource
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.fred.authshiro.model.TbResource"
            useGeneratedKeys="true">
    insert into tb_resource (`path`, `name`)
    values (#{path,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.fred.authshiro.model.TbResource"
            useGeneratedKeys="true">
        insert into tb_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="path != null">
                `path`,
            </if>
            <if test="name != null">
                `name`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="path != null">
                #{path,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.fred.authshiro.model.TbResource">
        update tb_resource
        <set>
            <if test="path != null">
                `path` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.fred.authshiro.model.TbResource">
    update tb_resource
    set `path` = #{path,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>